@{
    ViewData["Title"] = "Excercise 2";
}

<br>
<br>
<h1>Excercise 3</h1>
<br>
<br>
<div class="alert alert-warning">
    Write a function that converts a given integer into a Roman Numeral - the method needs to
    receive an integer and return a string (The integer can be between 1 and 3999).
</div>
<br>
<br>
@if(ViewBag.Result != null)
{
    <div class="alert alert-success">Result : @ViewBag.Result</div>
}
else if(ViewBag.Error != null)
{
    <div class="alert alert-danger">Error : @ViewBag.Error</div>
}
else
{
    @using(Html.BeginForm())
    {
        <div class="form-group">
            <label>Number</label>
            @Html.TextBox("number", "", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Run</button>
    }
}
