@{
    ViewData["Title"] = "Excercise 7";
}

<br>
<br>
<h1>Excercise 7</h1>
<br>
<br>
<div class="alert alert-warning">
    Write a function that receives an integer and returns whether that integer--interpreted as year--
    is a leap year. Do NOT use bool DateTime.IsLeapYear(int) or similar method.
</div>
<br>
<br>
@if(ViewBag.Result != null)
{
    <div class="alert alert-success">Result : @ViewBag.Result</div>
}
else if(ViewBag.Error != null)
{
    <div class="alert alert-danger">Error : @ViewBag.Error</div>
}
else
{
    @using(Html.BeginForm())
    {
        <div class="form-group">
            <label>Year</label>
            @Html.TextBox("year", "", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Run</button>
    }
}
