@{
    ViewData["Title"] = "Excercise 1";
}

<br>
<br>
<h1>Excercise 1</h1>
<br>
<br>
<div class="alert alert-warning">
    Write a function that computes the formula.
</div>
<br>
<br>
@if(ViewBag.Result != null)
{
    <div class="alert alert-success">Result : @ViewBag.Result</div>
}
