@{
    ViewData["Title"] = "Excercise 6";
}

<br>
<br>
<h1>Excercise 6</h1>
<br>
<br>
<div class="alert alert-warning">
    Write a function that reverses a string in a memory-efficient manner and without using the
    Enumerable.Reverse(IEnumerable<TSource>) extension method.
</div>
<br>
<br>
@if(ViewBag.Result != null)
{
    <div class="alert alert-success">Result : @ViewBag.Result</div>
}
else if(ViewBag.Error != null)
{
    <div class="alert alert-danger">Error : @ViewBag.Error</div>
}
else
{
    @using(Html.BeginForm())
    {
        <div class="form-group">
            <label>String</label>
            @Html.TextBox("value", "", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Run</button>
    }
}
