@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <ul class="list-group">
        <li class="list-group-item"><a asp-controller="Excercise" asp-action="Excercise1">Excercise 1</a></li>
        <li class="list-group-item"><a asp-controller="Excercise" asp-action="Excercise2">Excercise 2</a></li>
        <li class="list-group-item"><a asp-controller="Excercise" asp-action="Excercise3">Excercise 3</a></li>
        <li class="list-group-item"><a asp-controller="Excercise" asp-action="Excercise4">Excercise 4</a></li>
        <li class="list-group-item"><a asp-controller="Excercise" asp-action="Excercise5">Excercise 5</a></li>
        <li class="list-group-item"><a asp-controller="Excercise" asp-action="Excercise6">Excercise 6</a></li>
        <li class="list-group-item"><a asp-controller="Excercise" asp-action="Excercise7">Excercise 7</a></li>
    </ul>
</div>
